
<div class="form-group">
    <button id="allCustomerBtn" class="btn btn-outline-primary">Get Customers</button>
</div>

<div id="listDataId" class="list-group my-4 col-8 mx-auto">
    
</div>


<script src="~/scripts/app.Api.js"></script>