@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center my-4">Customer Portal</h1>
<div id="alertBoxId" class="alert alert-success col-6 mx-auto d-none" role="alert">
    <strong>A simple message</strong>
</div>
<div class="card bg-light col-6 mx-auto">

    <div class="card-body">

        <div class="form-group">
            <label for="customerIdTxt">Customer ID</label>
            <input type="number" class="form-control" id="customerIdTxt" required>
        </div>
        <div class="form-group">
            <label for="initialCreditTxt">Initial Credit</label>
            <input type="number" class="form-control" id="initialCreditTxt" required>
        </div>
        <div class="form-group">
            <button id="btnid" class="btn btn-success btn-block">Create</button>
        </div>

    </div>
</div>

<script src="~/scripts/consumeApi.js"></script>

